aiortc
bosdyn-api
bosdyn-choreography-client
bosdyn-client
bosdyn-core
bosdyn-mission
grpcio
image
inflection
opencv-python
open3d
protobuf
pytest
pytest-cov
pytest-xdist
pyyaml
setuptools
numpy  




